﻿.navInfo{
	display:flex;
	margin-right:15%;
}
.navName{
	margin-right:20%;
}
.navBalance{
	margin-right:25%;
	color:#edbe2f;
}
.navMyAcount{
	white-space:nowrap;
	margin-right:20%;
}
.navLogout{
	margin-right:20%;
	white-space:nowrap;
}


.promotionTab{
	width:100%;
	display: flex;
	justify-content: flex-end
}
  @media (max-width: 992px) {
	.promotionTab{
		width:auto;
		display: flex;
		justify-content: flex-end
	}
  }